body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

#frame {
  background-color: rgb(192, 192, 240);
  height: 300px;
  width: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
}
h3 {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(143, 44, 64);
}
.pad {
  border-radius: 5px;
  height: 30px;
}
.extra {
  text-decoration: none;
  color: red;
  
}
.button{
    width: 100px;
    background:rgb(68, 143, 241) ;
    border-radius: 4px;
    border: none;
    padding: 5px;
    color: white;
}
